@model Time.Data.EntityModels.Configurator.SpecialConfig

@{
    ViewBag.Title = "Copy Special Data to New Special Configuration";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-3">@Html.DropDownList("SConfigNamesTo", optionLabel: "--Select Name--")</div>
        <div class="col-md-3"><input type="submit" value="Copy Special Data" class="btn btn-primary" /></div>
    </div>
}

<div class="form-horizontal">
    <h4>Special Data</h4>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <hr />

    <p>
        <h3><u>This is the Special Data to be Copied</u></h3>
    </p>

    <h4>Special Data</h4>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr class="success">
            <th>
                Part
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Assembly/Material
            </th>
            <th>
                Related Operation
            </th>
        </tr>
        @foreach (var item in ViewBag.SpecialData as IEnumerable<Time.Data.EntityModels.Configurator.SpecialData>)
        {
            <tr>
                <td>
                    @item.Part
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.SpecialDataTypeId
                </td>
                <td>
                    @item.RelatedOpId
                </td>
            </tr>
        }
    </table>



    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


