@model Time.Data.EntityModels.DataPlates.DielectricRating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DielectricRating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SearchString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineVoltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineVoltage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SearchOrder }) |
    @Html.ActionLink("Back to List", "Index")
</p>
