@model Time.Data.EntityModels.TimeMFG.WaterTest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WaterTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GallonsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GallonsUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysComputer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysComputer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
