@model IEnumerable<Time.Data.EntityModels.TimeMFG.WaterTest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add Water Test", "Create")
<br />
@Html.ActionLink("Export Water Tests", "Export")
<br />
<br />

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GallonsUsed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SysDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SysUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SysComputer)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "Details", new { id = item.Id})
                @*@Html.DisplayFor(modelItem => item.UserName)*@
            </td>
            <td>
                @item.Date.ToString(@"M/d/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GallonsUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysComputer)
            </td>
        </tr>
    }

</table>
