@{
    ViewBag.Title = "IT Index";
}

<div class="alert alert-info">
    <h2>@ViewBag.Title</h2>

    <ul>
        <li>@Html.ActionLink("Computers", "Index", "Computers")</li>
        <li>@Html.ActionLink("Licenses", "Index", "Licenses")</li>
        <li>@Html.ActionLink("License Type", "Index", "LicenseType")</li>
        <li>@Html.ActionLink("Monitors", "Index", "Monitor")</li>
        <li>@Html.ActionLink("NICs", "Index", "NIC")</li>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
        <li>@Html.ActionLink("Scheduled Tasks", "Index", "ScheduledTasks")</li>
        <li>@Html.ActionLink("Servers", "Index", "Servers")</li>
    </ul>
</div>
<div class="alert alert-info">
    <h3>Lookup Maintenance</h3>

    <ul>
        <li>@Html.ActionLink("Buildings", "Index", "Building")</li>
        <li>@Html.ActionLink("Cable Numbers", "Index", "CableNo")</li>
        <li>@Html.ActionLink("Device Types", "Index", "DeviceType")</li>
        <li>@Html.ActionLink("License Types", "Index", "LicenseType")</li>
        <li>@Html.ActionLink("Locations", "Index", "Location")</li>
        <li>@Html.ActionLink("Manufacturers", "Index", "Manufacturer")</li>
        <li>@Html.ActionLink("Memory Sizes", "Index", "Memory")</li>
        <li>@Html.ActionLink("Models", "Index", "Model")</li>
        <li>@Html.ActionLink("Monitor Sizes", "Index", "MonitorSize")</li>
        <li>@Html.ActionLink("NIC Speeds", "Index", "NICSpeed")</li>
        <li>@Html.ActionLink("Operating Systems", "Index", "OS")</li>
        <li>@Html.ActionLink("Processors", "Index", "Processor")</li>
        <li>@Html.ActionLink("Sound Cards", "Index", "Sound")</li>
        <li>@Html.ActionLink("Status", "Index", "Status")</li>
        <li>@Html.ActionLink("Switch Ports", "Index", "Port")</li>
        <li>@Html.ActionLink("Video Cards", "Index", "Video")</li>
    </ul>
</div>