@model Time.Data.EntityModels.ITInventory.Ref_NICSpeed

@{
    ViewBag.Title = "NIC Speed Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Ref_NICSpeed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NIC_Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIC_Speed)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>