@model IEnumerable<Time.Data.EntityModels.ITInventory.Computer>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ref_Model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ref_Status.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ref_DeviceType.DeviceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Computers", new { id = item.Id })">@item.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Model.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Status.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_DeviceType.DeviceType)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Computers", new { id = item.Id })">Edit</a> |
                <a href="@Url.Action("Details", "Computers", new { id = item.Id })">Details</a> |
                @*@Html.ActionLink("Edit", "Edit", "Computers", null, new { id = item.Id }) |*@
                @*@Html.ActionLink("Details", "Details", "Computers", null, new { id = item.Id }) |*@
                @Html.ActionLink("Un-Link", "UnLinkComputer", new { id = item.Id })
            </td>
        </tr>
    }
</table>