@{
    ViewBag.Title = "User Index";
    Script.Require("jQuery");
    Script.Include("~/Modules/Time.IT/Scripts/DataTables/jquery.dataTables.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/DataTables/dataTables.bootstrap.min.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/DataTables/dataTables.buttons.min.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/jszip.min.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/DataTables/buttons.html5.min.js").AtFoot();
}
<link href="~/Modules/Time.IT/Styles/buttons.bootstrap.min.css" rel="stylesheet" />
<link href="~/Modules/Time.IT/Styles/font-awesome.css" rel="stylesheet" />
<link href="~/Modules/Time.IT/Styles/customStyle.css" rel="stylesheet" />
<link href="~/Modules/Time.IT/Styles/mobirise.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-2">
        <a class="popup btn btn-primary" href="Users/Create">Add New User</a>
    </div>
    <div class="col-md-10">
        <p style="margin-bottom:20px; margin-top:20px;"><strong>Note: All columns are sortable. The Search includes all columns.</strong></p>
    </div>
</div>
    <table id="usersTable" class="table table-striped table-hover table-bordered table-condensed">
        <thead>
            <tr class="success">
                <td>@Html.Label("User Name")</td>
                <td>@Html.Label("Computer")</td>
                <td>@Html.Label("Edit Date")</td>
                <td>@Html.Label("Edited By")</td>
                <td>@Html.Label("Building")</td>
                <td>@Html.Label("Location")</td>
                <td></td>
            </tr>
        </thead>
    </table>

@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            var urlLM = '@Url.Action("LoadUsers", "Users")';
            var oTable = $("#usersTable").DataTable({
                "ajax": {
                    "url": urlLM,
                    "type": "GET",
                    "datatype": "json"
                },
                dom: "<'row'<'col-md-3'l><'col-md-3'B><'col-md-6 text-right'f>><'row'<'col-md-12'tr>><'row'<'col-md-5'i><'col-md-7 text-right'p>>",
                buttons: [{ extend: "excel", text: "Export to Excel", className: "btn btn-primary excelButton", filename: 'UsersList', }],
                "order": [[0, "asc"]],
                "displayLength": -1,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "columns": [
                    {
                        "data": null, "autoWidth": true, "render": function (data, type, row) {
                            return '<a href="Users/Details/' + row.Id + '">' + row.Name + '</a>';
                        }
                    },
                    {
                        "data": null, "autoWidth": true, "render": function (data, type, row) {
                            return '<a href="Computers/Details/' + row.ComputerId + '">' + row.ComputerName + '</a>';
                        }
                    },
                    { "data": "LastDateEdited", "autoWidth": true },
                    { "data": "LastEditedBy", "autoWidth": true },
                    { "data": "Building", "autoWidth": true },
                    { "data": "Location", "autoWidth": true },
                    {
                        "data": "Id", "width": "20px", "sortable": false, "render": function (data) {
                            return '<a href="Users/Delete/' + data + '"><span class="mbri-trash"></span></a>';
                            //return '<a href="Users/Delete/' + data + '"><img src="/Media/Default/Page/DeleteIcon.png" width="20" height="20"/></a>';
                        }
                    }
                ]
            })
        });
    </script>
}