@model Time.IT.ViewModel.LinkLicenseViewModel

@{
    ViewBag.Title = "Link License";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Link License View Model</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(x => x.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.LicenseId, "LicenseId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LicenseId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Select --")
                @Html.ValidationMessageFor(model => model.LicenseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Link License" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to User", "Details", new { id = Model.UserId })
</div>