
@model IEnumerable<Time.OrderLog.EntityModels.OrderLineUnit>

<h4>Order Line Units</h4>
<div class="wrap">
    <table>
        <tr>
            <th width="100">@Html.DisplayNameFor(model => model.OrderLine.LiftModel.LiftModelName)</th>
            <th width="100">@Html.DisplayNameFor(model => model.ATSDate)</th>
            <th width="100">@Html.DisplayNameFor(model => model.SalesOrderNum)</th>
            <th width="100">@Html.DisplayNameFor(model => model.InvoiceDate)</th>
            <th width="100">@Html.DisplayNameFor(model => model.InvoiceAmt)</th>

            @*<th width="400">@Html.DisplayNameFor(model => model.Comment)</th>*@
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td colspan="5"><hr /></td>
        </tr>
        <tr style="vertical-align:top">
            <td>@Html.DisplayFor(modelItem => item.OrderLine.LiftModel.LiftModelName)</td>
            <td>@Html.DisplayFor(modelItem => item.ATSDate)</td>
            <td>@Html.DisplayFor(modelItem => item.SalesOrderNum)</td>
            <td>@Html.DisplayFor(modelItem => item.InvoiceDate)</td>
            <td>@Html.DisplayFor(modelItem => item.InvoiceAmt)</td>

            @*<td>@Html.DisplayFor(modelItem => item.Comment)</td>
            <td>@Html.ActionLink("Details", "OrderLineDetails", "Home", new { id = item.OrderLineId }, null)</td>*@
             @*| @Html.ActionLink("Edit", "OrderLineEdit", "Home", new { id = item.OrderLineId }, null)*@
        </tr>
    }
        <tr>
            <td colspan="5"><hr /></td>
        </tr>
    </table>
    <br />
</div>

