
@model IEnumerable<Time.OrderLog.EntityModels.OrderLine>

<h4>Order Lines</h4>
<div class="wrap">
    <table>
        <tr>
            <th width="100">@Html.DisplayNameFor(model => model.LiftModel.LiftModelName)</th>
            <th width="100" style="text-align:center">@Html.DisplayNameFor(model => model.NewQty)</th>
            <th width="100" style="text-align:center">@Html.DisplayNameFor(model => model.CancelQty)</th>
            <th width="400">@Html.DisplayNameFor(model => model.Comment)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
{
    <tr>
        <td colspan="5"><hr /></td>
    </tr>
    <tr style="vertical-align:top">
        <td>@Html.DisplayFor(modelItem => item.LiftModel.LiftModelName)</td>
        <td style="text-align:center">@Html.DisplayFor(modelItem => item.NewQty)</td>
        <td style="text-align:center">@Html.DisplayFor(modelItem => item.CancelQty)</td>
        <td>@Html.DisplayFor(modelItem => item.Comment)</td>
        <td>@Html.ActionLink("Edit", "OrderLineEdit", "Home", new { id = item.OrderLineId }, null)</td>
    </tr>
}
    <tr>
        <td colspan="5"><hr /></td>
    </tr>
    </table>
    <br />
</div>