@model Time.Data.EntityModels.ITInventory.Ref_Processor

@{
    ViewBag.Title = "Processor Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Ref_Processor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Processor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processor)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>