@model IEnumerable<Time.Data.EntityModels.Install.InstallHourlyRate>

@{
    ViewBag.Title = "Hour/Paint Rates Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Rate", "Create")
</p>
<table class="table table-striped">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.RateType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RateType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
