@model Time.Install.ViewModels.QuoteViewModel

@{
    if (Model.EditQuote) { ViewBag.Title = "Edit Install Quote"; }
    else { ViewBag.Title = "Start Install Quote"; }
}

<div class="loader"></div>

<h2>@ViewBag.Title</h2>

<div align="right">
    @Html.ActionLink("Back to Main Menu", "Index", "Home")
</div>
<div align="right">
    @Html.ActionLink("Back to Aerial Quote List", "Index")
</div>

<hr />
<h3>Aerial Quote Num: @Model.QuoteNum</h3>
@if (Model.EditQuote)
{<h4>Installation for @Model.InstallDescr</h4>}
else
{<h4>@Model.InstallDescr</h4>}
<hr />

@if (ViewBag.AerialOptions != null)
{
    using (Html.BeginForm("AddQuote", "Quote", FormMethod.Post, htmlAttributes: new { id="myForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.QuoteNum)
        @Html.HiddenFor(model => model.InstallDescr)
        @Html.HiddenFor(model => model.EditQuote)
        <div class="row">
            @if (Model.EditQuote)
            {
                <div class="col-sm-3">@Html.DropDownList("LiftFamilyId", null, optionLabel: "--- Select a Lift Family ---", htmlAttributes: new { @disabled = "disabled" })</div>
                @Html.HiddenFor(model => model.LiftFamilyId)
                @Html.ValidationMessageFor(model => model.LiftFamilyId)
                <div class="col-sm-3">
                    <input type="submit" value="Edit Installation Quote" class="btn btn-primary" />
                </div>
                @*<div class="col-sm-3" style="display: none;" id="loading_image2">
                    <img src=@Url.Content("~/Media/Default/Page/rubiksCube.gif") />&nbsp;Please wait...
                </div>*@
            }
            else
            {
                <div class="col-sm-3">@Html.DropDownList("LiftFamilyId", optionLabel: "--- Select a Lift Family ---")</div>
                @Html.HiddenFor(model => model.LiftFamilyId)
                @Html.ValidationMessageFor(model => model.LiftFamilyId)
                <div class="col-sm-3">
                    <input type="submit" value="Display Install Options" class="btn btn-primary" />
                </div>
                @*<div class="col-sm-3" style="display: none;" id="loading_image1">
                    <img src=@Url.Content("~/Media/Default/Page/rubiksCube.gif") />&nbsp;Please wait...
                </div>*@
            }
        </div>
    }
}
else
{
    <div class="alert alert-danger">
        <strong>Lift has not been configured yet. Installation Quote is not available.</strong>
    </div>
}
@if (ViewBag.AlreadyExist == 1)
{
    <hr />
    <div class="alert alert-danger">An Install quote already exists for this Aerial Quote. If you want to Edit an existing Install quote, go to "Install Quotes Index"</div>
    <hr />
}
<hr />
@Html.ActionLink("Back to Aerial Quote List", "Index")


@using (Script.Foot())
{
    <script type="text/javascript">
        //$('#myForm').submit(function () {
        //    $('#loading_image1').show(); // show animation
        //    return true; // allow regular form submission
        //});

        //$('#myForm').submit(function () {
        //    $('#loading_image2').show(); // show animation
        //    return true; // allow regular form submission
        //});

        $('#myForm').submit(function () {
            $('.loader').show(); // show animation
            return true; // allow regular form submission
        });

        $('#myForm').submit(function () {
            $('.loader').show(); // show animation
            return true; // allow regular form submission
        });
    </script>
}