@model Time.Data.EntityModels.Configurator.SpecialData

@{
    ViewBag.Title = "Export Special Data";
}

<h2>@ViewBag.Title</h2>

<div align="right">
    <p>
        @Html.ActionLink("Back to Configurator Index", "Index", "Configurator")
    </p>
</div>
<p>
    @Html.ActionLink("Back to Special Data Index", "Index")
</p>
<h4>Select the Special Configuration to Export to Excel</h4>
<hr />

@using (Html.BeginForm("Export", "SpecialDatas", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-3">@Html.DropDownList("SpecialConfigId", optionLabel: "-- Select --")</div>
        <div><input type="submit" value="Export to Excel" class="btn btn-default" /></div>
    </div>
}