@model IEnumerable<Time.Data.EntityModels.Production.SysTask>

    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityMsg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndedOn)
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @item.StartedOn.Value.ToLocalTime().ToShortDateString() @item.StartedOn.Value.ToLocalTime().ToShortTimeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityMsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskNote)
            </td>
            <td>
                @item.EndedOn.Value.ToLocalTime().ToShortDateString() @item.EndedOn.Value.ToLocalTime().ToShortTimeString()
            </td>
        </tr>
        }
    </table>