@model IEnumerable<Time.Data.EntityModels.Production.IMJobOper>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssemblySeq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OprSeq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpCode)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssemblySeq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OprSeq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpCode)
            </td>
        </tr>
    }
</table>