@model IEnumerable<Time.Data.EntityModels.TimeMFG.LoadListJob>

<table class="table table-striped table-bordered table-condensed table-hover">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.JobNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadList.DateSchedShip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoadList.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Claimed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadyToTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Green)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LShip)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiftModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadList.DateSchedShip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadList.Name)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Claimed, new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.ReadyToTest, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Tested, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Posted, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Green, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.LShip, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </td>
        </tr>
    }
</table>