@model IEnumerable<Time.Epicor.EntityModels.Epicor.v_JobInformation>

    @{var currentDate = DateTime.Now;
      var defaultDate = DateTime.Parse("1900,1,1");
      var monthStart = new DateTime(currentDate.Year, currentDate.Month, 1);
      }

    <table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            <input type="checkbox" name="checkAllSelected" id="checkAllSelected" />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ordernum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ponum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serialnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reqduedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustName)
        </th>
        <th>
            Ship To
        </th>
    </tr>



    @foreach (var item in Model)
    {
        var atsDate = item.reqduedate ?? defaultDate;
        var trclass = "";

        if (atsDate >= monthStart && atsDate <= currentDate.AddMonths(1))
        {
            trclass = "current";
        }

        if (atsDate < monthStart)
        {
            trclass = "pastdue";
        }

        <tr class=@trclass>

            <td>
                <input type="checkbox" name="selectedLines" value="@item.jobnum" />
                @*<input type="checkbox" checked="yes" name="selectedLines" value="@item.jobnum" />*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ordernum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ponum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serialnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reqduedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @item.shiptonum/@item.ShipToname<br />
                @item.city @item.state, @item.country
            </td>
        </tr>
    }
</table>



