@model Time.Epicor.ViewModels.AsmInspectViewModel

@{
    ViewBag.Title = "Assembly Inspection List - " + DateTime.Now.ToShortTimeString();
}

<h2>@ViewBag.Title</h2>
<p>
    To appear on this list, a unit must be on an Open Load List. The date here is based on the Load List Shipping Date.
</p>

<div class="alert alert-info">
    <p>
        To print in Internet Explorer, go to Print Preview and change the Orientation from Portrait to Landscape.  Then change the percentage from 100% or Shrink to Fit, to 70%.
    </p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">
                    @Html.Label("End Date:")
                </span>
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.AddDays(30) } })
            </div>
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.Claimed)
            @Html.EditorFor(model => model.Claimed)
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.Tested)
            @Html.EditorFor(model => model.Tested)
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.Posted)
            @Html.EditorFor(model => model.Posted)
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.Green)
            @Html.EditorFor(model => model.Green)
        </div>
        <div class="col-md-5">
            <input type="submit" value="Refresh" name="Refresh" class="btn btn-primary" />
            @Html.Label("If checked, the List will ignore that operation")
        </div>
    </div>
}

<br />
<div class="table">
    @Html.Partial("_AsmInspect", Model.JobList)
</div>

<script type="text/javascript">
    function reFresh() {
        //document.form.submit();
        document.all("Refresh").click();
    }
    window.setInterval("reFresh()", 300000);
</script>