@model Time.Data.EntityModels.TimeMFG.LoadList

@{
    ViewBag.Title = "Mark Load List as SHIPPED";
}

<link href="~/Modules/Time.IT/Styles/style.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>

<hr />

<ul class="list-inline">
    @*<li>@Html.ActionLink("LoadList Home Page", "Index", null, new { @class = "btn btn-primary" })</li>*@
    <a href="~/Epicor/LoadList/Index" class="btn btn-primary">LoadList Home Page</a>
</ul>

<hr />
<div class="alert alert-danger">
    <h3>Are you sure you want to mark this Load List as SHIPPED?</h3>
</div>

<hr />

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateIssued)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DateIssued)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateRevised)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DateRevised)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateSchedShip)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.DateSchedShip)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TruckingCompany)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.TruckingCompany)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Comments)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Comments)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Complete)
    </dt>
    @if (Model.Complete == true)
    {
        <dd>
            @Html.CheckBox("Complete", new { @disabled = "disabled" })
        </dd>
    }
    else
    {
        <dd>
            @Html.CheckBox("Complete", true, new { @disabled = "disabled" })
        </dd>
    }
    <dt>
        @Html.DisplayNameFor(model => model.Distributors)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AllDistributors)
    </dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Complete Load List" class="btn btn-default"/>
    </p>
}
