@model Time.Data.EntityModels.TimeMFG.LoadList

@{
    ViewBag.Title = "Delete Load List";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this Load List?</h3>
<fieldset>
    <legend>LoadList</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateIssued)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateIssued)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateRevised)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRevised)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateSchedShip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateSchedShip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TruckingCompany)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TruckingCompany)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Complete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Complete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Distributors)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Distributors)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
