@model Time.Data.EntityModels.TimeMFG.LoadListJob

@{
    ViewBag.Title = "Edit Job : " + Model.JobNumber;
    Script.Require("jQuery");
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Back to List", "Details", new { id = Model.LoadListId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Move Job to Other LoadList", "MoveLoadListJob", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LoadListJob</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LoadListId)
        @Html.HiddenFor(model => model.CustomerId)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.JobNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobNumber)
                @Html.HiddenFor(model => model.JobNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerName)
                @Html.HiddenFor(model => model.CustomerName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LiftModel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LiftModel)
                @Html.HiddenFor(model => model.LiftModel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SerialNo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SerialNo)
                @Html.HiddenFor(model => model.SerialNo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DistributorPO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DistributorPO)
                @Html.HiddenFor(model => model.DistributorPO)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateATS)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateATS)
                @Html.HiddenFor(model => model.DateATS)
            </dd>
        </dl>
                <div class="form-group">
                    @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comments, new { @rows = 6, htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
}

<div>
    @Html.Partial("_JobStatus", Model.LoadListJobStatus)
</div>

<br /><br /><br />

<a id="commentToggle" href="javascript:toggleComments();">Toggle Special Instructions History Visibility</a>

<div id="Comments">
    @{Html.RenderAction("_ListJobComments", "LoadList", new { id = Model.Id });}
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () { $('.Comments').hide(); })
        function toggleComments() {
            $('.Comments').toggle("slow");
        }
    </script>
}
