@model Time.Epicor.ViewModels.LoadListView

@{
    Style.Require("jQueryUI_DatePicker").AtHead();
    Script.Require("jQueryUI_DatePicker").AtFoot();
    ViewBag.Title = "Edit LoadList : " + Model.LoadList.Name;
}

<h2>@ViewBag.Title</h2>

<hr />

<ul class="list-inline">
    <li>@Html.ActionLink("LoadList Home Page", "Index", null, new { @class = "btn btn-primary" })</li>
</ul>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <h4>Load List</h4>

        @Html.HiddenFor(model => model.LoadList.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.LoadList.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoadList.Name)
                @Html.ValidationMessageFor(model => model.LoadList.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoadList.DateIssued, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.LoadList.DateIssued)
                @Html.TextBoxFor(model => model.LoadList.DateIssued, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.LoadList.DateIssued)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoadList.DateRevised, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.LoadList.DateRevised)
                @Html.TextBoxFor(model => model.LoadList.DateRevised, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.LoadList.DateRevised)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateSchedShip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("DateSchedShip")
                @Html.ValidationMessageFor(model => model.LoadList.DateSchedShip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MakeReady, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MakeReady)
                @Html.ValidationMessageFor(model => model.MakeReady)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoadList.TruckingCompany, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoadList.TruckingCompany)
                @Html.ValidationMessageFor(model => model.LoadList.TruckingCompany)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoadList.Comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoadList.Comments)
                @Html.ValidationMessageFor(model => model.LoadList.Comments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Complete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Complete)
                @Html.ValidationMessageFor(model => model.Complete)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@using (Script.Foot())
{
    <script type="text/javascript">

        $("#DateSchedShip").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true
        });
    </script>
}