@model IEnumerable<Time.Data.EntityModels.CustomManuals.LiftGroup>

@{
    ViewBag.Title = "Custom Manuals Lift Groups Index";
}

<h2>@ViewBag.Title</h2>

<div align="left">
    <p>
        @Html.ActionLink("Back to Custom Manuals Index", "Index", "Home")
    </p>
</div>

<hr />
<p>
    @Html.ActionLink("Add New Lift Group", "Create")
</p>
<hr />

<table class="table table-striped table-bordered table-condensed table-hover">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Lift_Group)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Lift_Group)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Lift_Group })
                @if (item.Formattings.Count() == 0)
                {
                    @:| @Html.ActionLink("Copy Formatting", "FormattingCopy", new { id = item.Lift_Group })
                }
            </td>
        </tr>
    }

</table>

<div align="left">
    <p>
        @Html.ActionLink("Back to Custom Manuals Index", "Index", "Home")
    </p>
</div>