@model IEnumerable<Time.Data.EntityModels.TimeMFG.SysTask>

<h3>
    Linked Tasks
</h3>

<table class="table table-striped table-bordered table-condensed">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recurring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailRecipients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SysTaskSchedule.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recurring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailRecipients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SysTaskSchedule.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>