@model IEnumerable<Time.Data.EntityModels.Epicor.impartbin>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.partnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.binnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onhandqty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lotnum)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.partnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.binnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.onhandqty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lotnum)
            </td>
        </tr>
    }
</table>