@*@model Time.Epicor.ViewModels.EpicorStatusViewModel*@

@{
    ViewBag.Title = "Epicor Status : " + DateTime.Now;
}

<h2>@ViewBag.Title</h2>

<h5>MRP Status: <strong>@Html.Raw(ViewBag.MRPStatus)</strong><br /></h5>
<hr />
<h3>Active Tasks</h3>

@Html.Action("_Tasks")

<hr />
@Html.Action("_Interim")

<hr />
<h3>Scheduled Tasks</h3>
@Html.Action("_SchedTasks")