@model IEnumerable<Time.Data.EntityModels.CustomManuals.Formatting>

@{
    ViewBag.Title = "Formatting Entries Index";
}

<h2>@ViewBag.Title</h2>

<div align="left">
    <p>
        @Html.ActionLink("Back to Custom Manuals Index", "Index", "Home")
    </p>
</div>

<br />

<table class="table table-striped table-bordered table-condensed table-hover">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.LiftGroup.Lift_Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PullsFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LiftGroup.Lift_Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PullsFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Formatting_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Formatting_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Formatting_ID })
            </td>
        </tr>
    }

</table>

<div align="left">
    <p>
        @Html.ActionLink("Back to Custom Manuals Index", "Index", "Home")
    </p>
</div>