@model IEnumerable<Time.IT.ViewModel.ServerStatusViewModel>

@{
    ViewBag.Title = "Servers Status";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr class="info">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PingResult)
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @Html.Action("_PingResult", new { servername = item.Name })
                    </tr>
                }
            </table>
        </div>
    </div>
</div>