@model IEnumerable<Time.Data.EntityModels.OrderLog.Territory>

@{
    ViewBag.Title = "Territories";
}

@Html.Partial("_Menu", ViewBag.Permissions as Time.OrderLog.Models.MenuViewModel)

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add a New Territory", "Create", "Territory", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TerritoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.RegionName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TerritoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TerritoryId })
            </td>
        </tr>
    }

</table>
