@model Time.Legacy.EntityModels.Legacy.Inventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorPartNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorPartNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalDescription2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalDescription2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AggrBuyoutCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AggrBuyoutCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AggrLaborCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AggrLaborCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentMaterialCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentMaterialCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastOrdered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastOrdered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastRecieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingRevision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingRevision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncrBuyoutCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncrBuyoutCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncrLaborCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncrLaborCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncrLastPurchaseCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncrLastPurchaseCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiftRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiftRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiftRequired2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiftRequired2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiftRequired3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiftRequired3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartsExpediteFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartsExpediteFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phantom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phantom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice6)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
