@model Time.Data.EntityModels.TimeMFG.Setting

@{
    ViewBag.Title = "Time.Support Setting Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.String)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.String)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
