@model Time.Data.EntityModels.TimeMFG.TicketProject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketProject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedByFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedByFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectBeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectBeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketSequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketSequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketDepartment.Prefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketDepartment.Prefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketEmployee.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketEmployee.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketEmployee1.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketEmployee1.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriority.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
