
@{
    ViewBag.Title = "VSW Installation Quotation Index";
}

<h2>@ViewBag.Title</h2>

<hr />

<br />
<div class="alert alert-info">
    <h3><i>Installation Quotation</i> and <i>Quotation Presentation</i></h3>
    <ul>
        <li>@Html.ActionLink("List of Aerial Quotes", "Index", "Quote")</li>
        <li>@Html.ActionLink("List of Aerial Quotes with Installation Quotation", "ListOfInstallQuotes", "Quote")</li>
    </ul>
    <br />
</div>

<br />
<div class="alert alert-info">
    <h3>VSW and Time Data Entry</h3>
    <ul>
        <li>@Html.ActionLink("Time Lift Family", "Index", "LiftFamilies")</li>
        <li>@Html.ActionLink("Time Options with Install Hours", "Index", "TimeOptions")</li>
        <li>@Html.ActionLink("VSW Option Group (Groups Only)", "Index", "OptionGroups")</li>
        <li>@Html.ActionLink("VSW Install Options (Groups with Options)", "Index", "VSWOptions")</li>
        <li>@Html.ActionLink("VSW Hour/Paint Rates", "Index", "InstallHourlyRates")</li>
    </ul>
</div>

<br />
<div class="alert alert-info">
    <h3><i>Quotation Presentation</i> Data Entry</h3>
    <ul>
        <li>@Html.ActionLink("Time Lift Family", "Index", "LiftFamilies")</li>
        <li>@Html.ActionLink("Option Names and Descriptions", "Index", "OptionTitleDescpForWordDocs")</li>
        <li>@Html.ActionLink("Installation Details", "Index", "InstallDetailsForWordDocs")</li>
    </ul>
</div>