@model IEnumerable<Time.Data.EntityModels.Install.ChassisSpecsForWordDoc>


@foreach (var item in Model)
{
    <tr class="chassisSpecs info">
        <td></td>
        <td colspan="5">
            &diams;@Html.DisplayNameFor(modelItem => modelItem.FirstOrDefault().CbToAxDimension)  : <span class="bg-warning">@Html.DisplayFor(modelItem => item.CbToAxDimension)in.</span> &nbsp;&nbsp;&nbsp;&nbsp;
            &diams;@Html.DisplayNameFor(modelItem => modelItem.FirstOrDefault().FrmSctnModulus) : <span class="bg-warning">@Html.DisplayFor(modelItem => item.FrmSctnModulus)in&sup3;</span> &nbsp;&nbsp;&nbsp;&nbsp;
            &diams;@Html.DisplayNameFor(modelItem => modelItem.FirstOrDefault().FrmRsistngBndngMmnt) : <span class="bg-warning">@Html.DisplayFor(modelItem => item.FrmRsistngBndngMmnt)in-lbs.</span>
        </td>
    </tr>
    <tr class="chassisSpecs  info">
        <td></td>
        <td colspan="5">
            &diams;@Html.DisplayNameFor(modelItem => modelItem.FirstOrDefault().FrontGAWR) : <span class="bg-warning">@Html.DisplayFor(modelItem => item.FrontGAWR)lbs.</span> &nbsp; &nbsp; &nbsp; &nbsp;
            &diams;@Html.DisplayNameFor(modelItem => modelItem.FirstOrDefault().RearGAWR) : <span class="bg-warning">@Html.DisplayFor(modelItem => item.RearGAWR)lbs.</span> &nbsp; &nbsp; &nbsp; &nbsp;
            &diams;@Html.DisplayNameFor(modelItem => modelItem.FirstOrDefault().GVWR) : <span class="bg-warning">@Html.DisplayFor(modelItem => item.GVWR)lbs.</span> &nbsp; &nbsp; &nbsp; &nbsp;
            &diams;@Html.DisplayNameFor(modelItem => modelItem.FirstOrDefault().AprxCrbWghtStblty) : <span class="bg-warning">@Html.DisplayFor(modelItem => item.AprxCrbWghtStblty)lbs.</span>
        </td>
    </tr>
}




