@model Time.Data.EntityModels.Install.LiftFamily

@{
    ViewBag.Title = "Details";
}

<link href="~/Modules/Time.IT/Styles/customStyle.css" rel="stylesheet" />

<h2>Details</h2>

<div align="right">
    @Html.ActionLink("Back to Main Menu", "Index", "Home")
</div>

<div class="mypanel-header"><h4>Lift Family</h4></div>
<div class="mypanel-body">
    <div class="alert alert-info">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FamilyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FamilyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstallHours)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstallHours)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>
<br />
<div class="mypanel-header"><h4>Installation Specifications</h4></div>
<div class="mypanel-body">
    <div class="alert alert-info">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ChassisSpecsForWordDocs.First().CbToAxDimension)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChassisSpecsForWordDocs.First().CbToAxDimension)in.
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChassisSpecsForWordDocs.First().FrmSctnModulus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChassisSpecsForWordDocs.First().FrmSctnModulus)in&sup3;
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChassisSpecsForWordDocs.First().FrmRsistngBndngMmnt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChassisSpecsForWordDocs.First().FrmRsistngBndngMmnt)in-lbs.
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChassisSpecsForWordDocs.First().FrontGAWR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChassisSpecsForWordDocs.First().FrontGAWR)lbs.
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChassisSpecsForWordDocs.First().RearGAWR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChassisSpecsForWordDocs.First().RearGAWR)lbs.
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChassisSpecsForWordDocs.First().GVWR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChassisSpecsForWordDocs.First().GVWR)lbs.
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChassisSpecsForWordDocs.First().AprxCrbWghtStblty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChassisSpecsForWordDocs.First().AprxCrbWghtStblty)lbs.
            </dd>
        </dl>
    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".mypanel-body").slideDown(2000);
        });
    </script>
}