@model IEnumerable<Time.Data.EntityModels.Install.InstallDetailsForWordDoc>

@{
    ViewBag.Title = "Installation Details for the Quotation Presentation Index";
}

<link href="~/Modules/Time.IT/Styles/customStyle.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>
<div align="right">
    @Html.ActionLink("Back to Main Menu", "Index", "Home")
</div>

<div class="alert alert-info">
    <h4>The information in these pages includes:</h4>
    <p><span class="label label-primary">1.</span> The Installation Details.</p>
    <p><span class="label label-success">Tip:</span> Click the button <span class="label label-primary">Show Pictures</span> to display what sections of the previously used documents this page is related to.</p>
</div>
<a id="showInfo" href="#cfgsAndLifts" data-toggle="collapse" class="btn btn-primary btn-xs">Show Pictures</a>
<div id="cfgsAndLifts" class="collapse">
    <div style="display:block; height:300px; overflow:scroll;">
        @Html.Action("MoreInfo", "Home", new { documentSection = "wordInstallDetails" })
    </div>
</div>

<hr />


<div>
    <a style="margin-bottom:5px;" class="btn btn-primary btn-xs" href="@Url.Action("Create", "InstallDetailsForWordDocs")">Create New Lift Family</a>
</div>

<table class="table table-bordered table-hover table-responsive table-striped">
    <tr class="success">
        <th class="col-md-11">
            @Html.DisplayNameFor(model => model.DetailLine)
        </th>
        <th></th>
        @*<th></th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetailLine)
            </td>
            <td>
                <a href="@Url.Action("Edit", "InstallDetailsForWordDocs", new { id = item.Id })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </td>
            @*<td>
                <a href="@Url.Action("Details", "InstallDetailsForWordDocs", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </td>*@
            <td>
                <a href="@Url.Action("Delete", "InstallDetailsForWordDocs", new { id = item.Id })"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
    }

</table>

@using (Script.Foot())
{
    <script type="text/javascript">

        $("#showInfo").click(function () {
            if ($(this).text() == "Show Pictures") {
                $(this).text("Hide Pictures");
            } else {
                $(this).text("Show Pictures");
            }
        });
    </script>
}