@model IEnumerable<Time.Data.EntityModels.ITInventory.ScheduledTask>

<table class="table table-striped table-bordered table-condensed table-hover">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sunday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wednesday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thursday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saturday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityRunAs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Databases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SharesLocations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.LastUpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.Name)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(x => x.Name))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sunday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wednesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thursday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Friday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saturday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Program)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityRunAs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Databases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharesLocations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.Name)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "EditScheduledTask", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsScheduledTask", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteScheduledTask", new { id = item.Id })
            </td>
        </tr>
    }
</table>