@model Time.Data.EntityModels.ITInventory.Computer

@{
    ViewBag.Title = "Computer Details";
    ViewBag.StatusMessage = TempData["StatusMessage"];
    ViewBag.ErrorMessage = TempData["ErrorMessage"];
}
<link href="~/Modules/Time.IT/Styles/style.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.ErrorMessage
    </div>
}

@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @ViewBag.StatusMessage
    </div>
}

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WindowsKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindowsKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIOS_Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIOS_Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDateEdited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDateEdited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastBuildDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastBuildDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_Memory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_Memory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_Model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_Model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_Status.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_Status.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_VideoCard.VideoCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_VideoCard.VideoCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_DeviceType.DeviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_DeviceType.DeviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_Processor.Processor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_Processor.Processor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_Sound.Sound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_Sound.Sound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref_OS.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref_OS.OS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalHW)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.AdditionalHW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayWithBreaksFor(model => model.Note)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Computer List", "Index") |
    @if (Model.UserId != null)
    {
        @Html.ActionLink("User Details", "Details", "Users", new { id = Model.UserId }, null)
    }
</p>
<hr />
<div>
    <p>
        @Html.ActionLink("Add NIC Card", "AddNIC", new { id = Model.Id }, new { @class = "btn btn-primary btn-xs" })
    </p>
    @Html.Partial("_NIC", Model.Ref_NIC)
</div>

<div>
    <p>
        @Html.ActionLink("Link License", "LinkLicense", new { id = Model.Id }, new { @class = "btn btn-primary btn-xs" })
    </p>
    @Html.Partial("_Licenses", Model.Licenses)
</div>

<div>
    <p>
        @Html.ActionLink("Add Scheduled Task", "AddScheduledTask", new { id = Model.Id }, new { @class = "btn btn-primary btn-xs" })
    </p>
    @Html.Partial("_ScheduledTasks", Model.ScheduledTasks)
</div>

<div>
    <p>
        @Html.ActionLink("Upload Attachment", "UploadAttachment", new { modelId = Model.ModelId, cmprModel = Model.Ref_Model.Model, compId = Model.Id }, new { @class = "btn btn-primary btn-xs" })
    </p>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr class="success">
            <th>
                @Html.Label("FileName")
            </th>
            <th>
                @Html.Label("Description")
            </th>
            <th>
                @Html.Label("UploadedBy")
            </th>
            <th>
                @Html.Label("UploadedDate")
            </th>
        </tr>
        @Html.Partial("_AttachmentsModel", Model.Ref_Model.AttachmentForModels)
        @Html.Partial("_AttachmentsComputer", Model.AttachmentForComputers)
    </table>

</div>