@model IEnumerable<Time.Data.EntityModels.ITInventory.Computer>

@{
    ViewBag.Title = "Computer Index";
    Script.Require("jQuery");
    Script.Include("~/Modules/Time.IT/Scripts/jquery-3.1.1.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/jquery.validate.min.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/jquery.validate.unobtrusive.min.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/jquery-ui-1.12.1.min.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/DataTables/jquery.dataTables.js").AtFoot();
    Script.Include("~/Modules/Time.IT/Scripts/DataTables/dataTables.bootstrap.min.js").AtFoot();
}
<link href="~/Modules/Time.IT/Styles/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Modules/Time.IT/Styles/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Modules/Time.IT/Styles/font-awesome.css" rel="stylesheet" />
<link href="~/Modules/Time.IT/Styles/dataTableSortIcons.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-2">
        <a class="popup btn btn-primary" href="Computers/Create">Add New Computer</a>
    </div>
    <div class="col-md-10">
        <p style="margin-bottom:20px; margin-top:20px;"><strong>Note: All columns are sortable. The Search includes all columns.</strong></p>
    </div>
</div>
<div class="tablecontainer">
    <table id="computersTable" class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="success">
                <td>@Html.Label("Computer")</td>
                <td>@Html.Label("User Name")</td>
                <td>@Html.Label("Model")</td>
                <td>@Html.Label("Status")</td>
                <td>@Html.Label("Device Type")</td>
                <td>@Html.Label("OS")</td>
                <td>@Html.Label("Build Date")</td>
                <td>@Html.Label("Purch Date")</td>
                <td>@Html.Label("Edit Date")</td>
                <td></td>
            </tr>
        </thead>
    </table>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            var urlLM = '@Url.Action("LoadComputers", "Computers")';
            var oTable = $("#computersTable").DataTable({
                "ajax": {
                    "url": urlLM,
                    "type": "GET",
                    "datatype": "json"
                },
                "order": [[0, "asc"]],
                "displayLength": -1,
                "lengthMenu": [[10, 25, 50, 100, 500, 1000, -1], [10, 25, 50, 100, 500, 1000, "All"]],
                "columns": [
                    {
                        "data": null, "autoWidth": true, "render": function (data, type, row) {
                            return '<a class="popup" href="Computers/Details/' + row.Id + '">' + row.CmpName + '</a>';
                        }
                    },
                    {
                        "data": null, "autoWidth": true, "render": function (data, type, row) {
                            return '<a class="popup" href="Users/Details/' + row.UserId + '">' + row.UserName + '</a>';
                        }
                    },
                    { "data": "Model", "autoWidth": true },
                    { "data": "Status", "autoWidth": true},
                    { "data": "DeviceType", "autoWidth": true },
                    { "data": "OS", "autoWidth": true },
                    { "data": "LastBuildDate", "autoWidth": true },
                    { "data": "PurchaseDate", "autoWidth": true },
                    { "data": "LastDateEdited", "autoWidth": true },
                    {
                        "data": "Id", "width": "20px", "sortable": false, "render": function (data) {
                            return '<a class="popup" href="Computers/Delete/' + data + '"><img src="/Media/Default/Page/DeleteIcon.png" width="20" height="20"/></a>';
                        }
                    }
                ]
            })
        });
    </script>
}
