@model Time.OrderLog.EntityModels.OrderLineUnit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrderLineUnit</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderLineUnitId)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderLineId, "OrderLineId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OrderLineId", String.Empty)
                @Html.ValidationMessageFor(model => model.OrderLineId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ATSDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ATSDate)
                @Html.ValidationMessageFor(model => model.ATSDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesOrderNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesOrderNum)
                @Html.ValidationMessageFor(model => model.SalesOrderNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceDate)
                @Html.ValidationMessageFor(model => model.InvoiceDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceAmt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceAmt)
                @Html.ValidationMessageFor(model => model.InvoiceAmt)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
