
<br />
<div class="alert alert-info" id="keysDiv">
</div>
<table class="table table-striped table-bordered table-condensed table-hover">
    <tr class="success">
        <th>
            @Html.DisplayName("ConfigName")
        </th>
        <th>
            @Html.DisplayName("ConfigData")
        </th>
        <th>
            @Html.DisplayName("Key01")
        </th>
        <th>
            @Html.DisplayName("Key02")
        </th>
        <th>
            @Html.DisplayName("Key03")
        </th>
        <th>
            @Html.DisplayName("Key04")
        </th>
        <th>
            @Html.DisplayName("Key05")
        </th>
        <th>
            @Html.DisplayName("Key06")
        </th>
        <th>
            @Html.DisplayName("Key07")
        </th>
        <th>
            @Html.DisplayName("Key08")
        </th>
        <th>
            @Html.DisplayName("Key09")
        </th>
        <th>
            @Html.DisplayName("Key10")
        </th>
        <th>
            @Html.DisplayName("PartNum")
        </th>
        <th></th>
    </tr>
    <tbody id="optionsDiv"></tbody>
</table>
