@model IEnumerable<Time.Data.EntityModels.Configurator.ConfigPricing>

@{
    ViewBag.Title = "ConfigPricingViewToExport";
}

<h2>ConfigPricing Export to Excel</h2>

<div align="right">
    <p>
        @Html.ActionLink("Back to Configurator Index", "Index", "Configurator")
    </p>
</div>
<div align="right">
    @Html.ActionLink("Back to ConfigPricing Index", "Index")
</div>
<h4>Select the Configurator to export pricing to Excel</h4>
<hr />

@using (Html.BeginForm("ConfigPricingExport", "ConfigPricing", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
            @Html.DropDownList("ConfigNames", optionLabel: "-- Select ConfigName--")
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Export to Excel</button>
                </span>
            </div>
        </div>
    </div>
}

@*<br />

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltPrice)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltPrice)
            </td>
        </tr>
    }

</table>*@
