@model Time.Data.EntityModels.Configurator.ConfigPricing

@{
    ViewBag.Title = "Edit Config Pricing";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Config Pricing</h4>
        <hr />
        @Html.ValidationSummary(true)

@*******************************************************************Makes Only Prices are Editable*********************************************************************************************@
    <div class="form-group">
        @Html.LabelFor(model => model.ConfigID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ConfigID)
            @Html.HiddenFor(model => model.ConfigID)
            @Html.ValidationMessageFor(model => model.ConfigID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfigOption, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ConfigOption)
            @Html.HiddenFor(model => model.ConfigOption)
            @Html.ValidationMessageFor(model => model.ConfigOption)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AltPrice, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AltPrice)
            @Html.ValidationMessageFor(model => model.AltPrice)
        </div>
    </div>
@*****************************************************************Makes Edits Enabled With Drop Down Menus********************************************************************************************@
    @*<div class="form-group">
            @Html.LabelFor(model => model.ConfigID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConfigID", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Select --")
                @Html.ValidationMessageFor(model => model.ConfigID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfigOption, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConfigOption", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Select --")
                @Html.ValidationMessageFor(model => model.ConfigOption)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AltPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AltPrice)
                @Html.ValidationMessageFor(model => model.AltPrice)
            </div>
        </div>*@
@**********************************************************************Makes you able to type edits in************************************************************************************************@
    @*<div class="form-group">
            @Html.LabelFor(model => model.ConfigID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfigID)
                @Html.ValidationMessageFor(model => model.ConfigID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfigOption, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfigOption)
                @Html.ValidationMessageFor(model => model.ConfigOption)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AltPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AltPrice)
                @Html.ValidationMessageFor(model => model.AltPrice)
            </div>
        </div>*@
@*****************************************************************************************************************************************************************************************************@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { ConfigNames = Model.ConfigID, ConfigOptions = Model.ConfigOption })
</div>
