@model IEnumerable<Time.Data.EntityModels.Configurator.ConfigPricing>

@{
    ViewBag.Title = "Config Pricing";
}

<h2>@ViewBag.Title</h2>

<div align="right">
    <p>
        @Html.ActionLink("Back to Configurator Index", "Index", "Configurator")
    </p>
</div>

<p>
    @Html.ActionLink("Create New Pricing", "Create")
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConfigID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.ConfigID)
        </td>
        <td>
            @Html.DisplayFor(model => item.ConfigOption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AltPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ConfigID, opt = item.ConfigOption }) |
            @Html.ActionLink("Details", "Details", new { id = item.ConfigID, opt = item.ConfigOption }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ConfigID, opt = item.ConfigOption })
        </td>
    </tr>
}

</table>

<div align="right">
    <p>
        @Html.ActionLink("Back to Configurator Index", "Index", "Configurator")
    </p>
</div>
