@model Time.Data.EntityModels.DataPlates.LiftData

@{
    ViewBag.Title = "Details";
}

<link href="~/Modules/Time.IT/Styles/style.css" rel="stylesheet" />

<h2>Details</h2>

<div>
    <h4>LiftData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HydOilPSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HydOilPSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HydOilKG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HydOilKG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insulated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insulated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignVoltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignVoltage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lift }) |
    @Html.ActionLink("Back to List", "Index")
</p>
