@model Time.Install.ViewModels.AddOptionsViewModel

@{
    ViewBag.Title = "Add VSW Options";
}

<h2>@ViewBag.Title</h2>

<div align="right">
    @Html.ActionLink("Back to Main Menu", "Index", "Home")
</div>

<div align="right">
    @Html.ActionLink("Back to List", "Index")
</div>

@Html.Partial("_InstructionsAddOptions")
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid bg-info" style="border-radius: 5px;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <h4>Add VSW Options</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.LiftFamilyId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("LiftFamilyId", optionLabel: "--- Select a Lift Family ---")
                            @Html.ValidationMessageFor(model => model.LiftFamilyId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("GroupId", optionLabel: "--- Select an Option Group ---")
                            @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OptionsToParse, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.OptionsToParse, new { @placeHolder = "Paste Option, Cost, and Hours here", @rows = 15, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OptionsToParse, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add Install Options" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        $("#showInfo").click(function () {
            if ($(this).text() == "Show Instructions") {
                $(this).text("Hide Instructions");
            } else {
                $(this).text("Show Instructions");
            }
        });
    </script>
}
