@model Time.Data.EntityModels.Install.VSWOption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div align="right">
    @Html.ActionLink("Back to Main Menu", "Index", "Home")
</div>

<div>
    <h4>VSWOption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaintFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaintFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiftFamily.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiftFamily.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionGroup.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionGroup.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { liftFamilyId = Model.LiftFamilyId, groupId = Model.GroupId })
</p>
