@model IEnumerable<Time.Data.EntityModels.Epicor.v_BillOfMaterials>

<h4>Bill Of Materials</h4>

<table class="table table-striped table-bordered table-condensed">
    <tr class="success">
        <th colspan="3">
            @Html.DisplayNameFor(model => model.mtlpartnum)
        </th>
        <th colspan="4">
            @Html.DisplayNameFor(model => model.partdescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latest_Rev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typecode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.altmethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtyper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onhandqty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendornum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendorid)
        </th>
        <th colspan="4">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenPartNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phantombom)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.partnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.baseprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buyerid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mfglotsize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.revisionnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fixedqty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.relatedoperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mtlseq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastmaterialcost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.viewasasm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastsubcontcost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastmtlburcost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastlaborcost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastburdencost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leadtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.binqtyonhand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllocQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnfirmAllocQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current_Rev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenJobCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenJobs)
            </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td colspan="3">
                @Html.ActionLink(item.mtlpartnum, "Index", new { search = item.mtlpartnum })
            </td>
            <td colspan="4">
                @Html.DisplayFor(modelItem => item.partdescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latest_Rev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typecode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.altmethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inactive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtyper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.onhandqty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vendornum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vendorid)
            </td>
            <td colspan="4">
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenPartNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phantombom)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.partnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.baseprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.buyerid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mfglotsize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.revisionnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fixedqty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.relatedoperation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mtlseq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastmaterialcost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.viewasasm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastsubcontcost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastmtlburcost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastlaborcost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastburdencost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.leadtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.opcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.binqtyonhand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllocQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnfirmAllocQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Current_Rev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenJobCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenJobs)
                </td>*@
        </tr>
    }
</table>