@model Time.Data.EntityModels.OrderLog.OrderTran

@{
    ViewBag.Title = "Edit Order Transaction";
}

@Html.Partial("_Menu", ViewBag.Permissions as Time.OrderLog.Models.MenuViewModel)

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderTranId)
        @Html.HiddenFor(model => model.OrderId)
        @Html.HiddenFor(model => model.LiftModelId)
        @Html.HiddenFor(model => model.CancelQty)
        @Html.HiddenFor(model => model.NewQty)
        @Html.HiddenFor(model => model.Date)

        @*<div class="form-group">
                @Html.LabelFor(model => model.OrderId, "OrderId", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("OrderId", String.Empty)
                    @Html.ValidationMessageFor(model => model.OrderId)
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LiftModelId, "LiftModelId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("LiftModelId", String.Empty)*@
                @Html.DisplayFor(model => model.LiftModel.LiftModelName)
                @Html.ValidationMessageFor(model => model.LiftModelId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewQty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NewQty)
                @Html.ValidationMessageFor(model => model.NewQty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CancelQty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CancelQty)
                @Html.ValidationMessageFor(model => model.CancelQty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Special, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Special)
                @Html.ValidationMessageFor(model => model.Special)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Demo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Demo)
                @Html.ValidationMessageFor(model => model.Demo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RTG, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RTG)
                @Html.ValidationMessageFor(model => model.RTG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TruGuard, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TruGuard)
                @Html.ValidationMessageFor(model => model.TruGuard)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GSA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.GSA == null)
                {
                    @Html.CheckBox("GSA")
                }
                else
                {
                    @Html.EditorFor(model => model.GSA)
                }
                @Html.ValidationMessageFor(model => model.GSA)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Install, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Install)
                    @Html.ValidationMessageFor(model => model.Install)
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.AsOfDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AsOfDate, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.AsOfDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Details", "OrderLog", new { id = Model.OrderId }, null)
</div>