@model Time.Data.EntityModels.Legacy.PartStepDetail
<tr>
    <td>
        @Model.CostStepListingId
    </td>
    <td>
        @Model.BaseQty
    </td>
    <td>
        @Model.CrewSize
    </td>
    <td>
        @Model.Description
    </td>
    <td>
        @Model.FixedHours
    </td>
    <td>
        @Model.Id
    </td>
    <td>
        @Model.OpCode
    </td>
    <td>
        @Model.Step
    </td>
    <td>
        @Model.RecEOQ
    </td>
    <td>
        @Model.Step
    </td>
    <td>
        @Model.VarHours
    </td>
    <td>
        @Model.WorkCenter
    </td>
</tr>
