@model  Time.Data.EntityModels.Legacy.PurchaseHistory
<tr>
    <td>
        @Model.Company
    </td>
    <td>
        @Model.Id
    </td>
    <td>
        @Model.PartNumber
    </td>
    <td>
        @Model.PO_Line_Number
    </td>
    <td>
        @Model.PO_Number
    </td>
    <td>
        @Model.Qty
    </td>
    <td>
        @Model.ReceiptDate
    </td>
    <td>
        @Model.ReceiptQty
    </td>
    <td>
        @Model.SupplierId
    </td>
    <td>
        @Model.SupplierName
    </td>
    <td>
        @Model.SupplierNumber
    </td>
</tr>
