@model Time.Data.EntityModels.Legacy.PurchaseBOMItem
<tr>
    <td>
        @Model.ULPartNumber
    </td>
    <td>
        @Model.Description
    </td>
    <td>
        @Model.Id
    </td>
    <td>
        @Model.LineNumber
    </td>
    <td>
        @Model.PartNumber
    </td>
    <td>
        @Model.PurchaseBOMId
    </td>
    <td>
        @Model.Qty
    </td>
    <td>
        @Model.TimePartNumber
    </td>
    <td>
        @Model.VendorNumber
    </td>
</tr>
