@model Time.Data.EntityModels.Legacy.RedrillPartXRef
<tr>
    <td>
        @Model.AptCart
    </td>
    <td>
        @Model.CADbom
    </td>
    <td>
        @Model.CADdb
    </td>
    <td>
        @Model.CADRev
    </td>
    <td>
        @Model.CADSize
    </td>
    <td>
        @Model.Comments
    </td>
    <td>
        @Model.DrawingNumber
    </td>
    <td>
        @Model.DrawingRev
    </td>
    <td>
        @Model.DrawingSize
    </td>
    <td>
        @Model.DwgBOM
    </td>
    <td>
        @Model.LineDrawing
    </td>
    <td>
        @Model.LineDrawingBOM
    </td>
    <td>
        @Model.LineDrawingRevision
    </td>
    <td>
        @Model.LineDrawingSize
    </td>
    <td>
        @Model.ReedrillPartNumber
    </td>
</tr>
