@model IEnumerable<Time.Data.EntityModels.Legacy.Inventory>

@{
    ViewBag.Title = "Legacy Part Search";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <h4>Search by Part Number, Description, Vendor Part Number, Additional Description, or Additional Description 2.</h4>
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("search", null, htmlAttributes: new { @placeholder = "Search..." })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div>
        </div>
    </div>
        @*<div>
            <hr />
            <div class="col-md-12">
                <h4>Search by Part Number, Description, Vendor Part Number, Additional Description, or Additional Description 2.</h4>
                <div class="col-md-3">*@
        @*@Html.EditorFor(model => model.Search)*@
        @*@Html.TextBox("search")
                        <br />
                    </div>
                    <div class="col-md-1">
                        <input type="submit" name="submitbutton" value="Search" />
                    </div>
                </div>
            </div>*@
}

<hr />

<table class="table table-striped table-bordered table-condensed">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorPartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalDescription2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentMaterialCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncrLastPurchaseCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncrBuyoutCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AggrBuyoutCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncrLaborCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AggrLaborCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastRecieved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiftRequired2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phantom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawingRevision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawingSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartsExpediteFlag)
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.LiftRequired3)
            </th>*@

    </tr>

    @if (Model == null || Model.Count() == 0)
    {
        <tr>
            <td colspan="31" class="lead">
                No rows match search criteria or search string is to short (must be 3 or more characters in length)
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.PartNumber, "Details", new { partnumber = item.PartNumber })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorPartNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalDescription2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentMaterialCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncrLastPurchaseCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncrBuyoutCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AggrBuyoutCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncrLaborCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AggrLaborCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLastRecieved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLastOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLastSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiftRequired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiftRequired2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phantom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrawingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrawingRevision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrawingSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartsExpediteFlag)
                </td>

                @* <td>
                        @Html.DisplayFor(model => model.LiftRequired3)
                    </td>*@
            </tr>
        }
    }
</table>