
@model IEnumerable<Time.Data.EntityModels.OrderLog.OrderTran>

<h3>Order Transactions</h3>
<div class="wrap">
    <table align="" class="table table-striped table-bordered table-condensed">
        <tr>
            <th width="150">@Html.DisplayNameFor(model => model.Date)</th>
            <th width="150">@Html.DisplayNameFor(model => model.AsOfDate)</th>
            <th width="150">@Html.DisplayNameFor(model => model.LiftModel.LiftModelName)</th>
            <th width="100">@Html.DisplayNameFor(model => model.NewQty)</th>
            <th width="100">@Html.DisplayNameFor(model => model.CancelQty)</th>
            <th width="400">@Html.DisplayNameFor(model => model.Comment)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Date != null)
                    {
                        <span>
                            @String.Format("{0} @ {1}", item.Date.Value.ToShortDateString(), item.Date.Value.ToShortTimeString())
                        </span>
                    }
                </td>
                <td>
                    @if (item.AsOfDate != null)
                    {
                        <span>
                            @item.AsOfDate.Value.ToShortDateString()
                        </span>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.LiftModel.LiftModelName)</td>
                <td align="center">@Html.DisplayFor(modelItem => item.NewQty)</td>
                <td align="center">@Html.DisplayFor(modelItem => item.CancelQty)</td>
                <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                <td>@Html.ActionLink("Edit", "Edit", "OrderTran", new { id = item.OrderTranId }, null)</td>
            </tr>
        }
    </table>
    <br />
</div>
<hr />
@*<a href="~/Views/OrderLog/_OrderLines.cshtml">~/Views/OrderLog/_OrderLines.cshtml</a>*@