@model Time.Data.EntityModels.OrderLog.Order

@{
    ViewBag.Title = "Edit Order";
}
@Html.Partial("_Menu", ViewBag.Permissions as Time.OrderLog.Models.MenuViewModel)

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderId)

        <div class="form-group">
            @Html.LabelFor(model => model.PO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PO)
                @Html.ValidationMessageFor(model => model.PO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DealerId, "Dealer", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DealerId", String.Empty)
                @Html.ValidationMessageFor(model => model.DealerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TerritoryId, "Territory", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TerritoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.TerritoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstallId, "Install", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InstallId", String.Empty)
                @Html.ValidationMessageFor(model => model.InstallId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstallerId, "Installer", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InstallerId", String.Empty)
                @Html.ValidationMessageFor(model => model.InstallerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Special, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Special)
                @Html.ValidationMessageFor(model => model.Special)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Demo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Demo)
                @Html.ValidationMessageFor(model => model.Demo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RTG, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RTG)
                @Html.ValidationMessageFor(model => model.RTG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TruGuard, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TruGuard)
                @Html.ValidationMessageFor(model => model.TruGuard)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer)
                @Html.ValidationMessageFor(model => model.Customer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zip)
                @Html.ValidationMessageFor(model => model.Zip)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date)
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>*@
        @Html.HiddenFor(model => model.Date)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Details", new { id = Model.OrderId })
</div>