@model IEnumerable<Time.Data.EntityModels.OrderLog.Order>

@{
    ViewBag.Title = "Order Log";
}

@Html.Partial("_Menu", ViewBag.Permissions as Time.OrderLog.Models.MenuViewModel)

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    @using (Html.BeginForm("Search", "OrderLog"))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-4">
            <div class="input-group">
                @Html.TextBox("search", null, htmlAttributes: new { @placeholder = "Search..." })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div>
        </div>
    }



    <div class="col-md-2">
        @Html.Label("YTD:") @ViewBag.YTD
    </div>
    <div class="col-md-2">
        @Html.Label("Prev YTD:") @ViewBag.PYTD
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Add New Order", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>

<hr />

@{
    var grid = new WebGrid(
        source: Model,
        canPage: true,
        rowsPerPage: 20,
        canSort: true
        );
}

@grid.GetHtml(
        tableStyle: "table table-striped table-bordered table-condensed col-md-12",
        headerStyle: "success",
        columns: grid.Columns(
        grid.Column("PO", "PO#", format: item => Html.ActionLink((string)item.PO, "Details", new { id = (int)item.OrderId })),
        grid.Column("Date", "Date", format: (item) => item.Date.ToString("MM/dd/yyyy")),
        grid.Column("Dealer.DealerName", "Dealer Name"),
        //grid.Column("Territory.TerritoryName", "Territory Name"),
        grid.Column("Customer", "Customer")
        // ,grid.Column("Territory.TerritoryName", "Territory Name")
    )
)
