@model IEnumerable<Time.Data.EntityModels.TimeMFG.SysTaskSchedule>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextRunOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recurrences)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekOfMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EveryNWeeks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastRunOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mondays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuesdays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wednesdays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thursdays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fridays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saturdays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sundays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartMinute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WindowStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WindowEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WindowMinutes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchedType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextRunOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recurrences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekOfMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EveryNWeeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastRunOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mondays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuesdays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wednesdays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thursdays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fridays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saturdays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sundays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartMinute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindowStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindowEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindowMinutes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>