@model Time.Data.EntityModels.TimeMFG.SysTask

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SysTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recurring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurring)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysTaskSchedule.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysTaskSchedule.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
