@model Time.Data.EntityModels.Configurator.Config

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Config</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ConfigID, "ConfigID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConfigID", String.Empty)
                @Html.ValidationMessageFor(model => model.ConfigID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfigData, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfigData)
                @Html.ValidationMessageFor(model => model.ConfigData)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sequence, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sequence)
                @Html.ValidationMessageFor(model => model.Sequence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lookup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lookup)
                @Html.ValidationMessageFor(model => model.Lookup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LookupSequence, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LookupSequence)
                @Html.ValidationMessageFor(model => model.LookupSequence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Global, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Global)
                @Html.ValidationMessageFor(model => model.Global)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
