@model Time.Data.EntityModels.Configurator.Config

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Config</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lookup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lookup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LookupSequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LookupSequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Global)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Global)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfigID1.ConfigID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfigID1.ConfigID1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
