@model IEnumerable<Time.Data.EntityModels.Configurator.Config>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lookup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookupSequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Global)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigID1.ConfigID1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lookup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LookupSequence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Global)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigID1.ConfigID1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
