@{
    ViewBag.Title = "Configurator Index";
}

<div class="alert alert-info">
    <h2>@ViewBag.Title</h2>
    <ul>
        <li>
            @Html.ActionLink("Configurator Name", "Index", "ConfiguratorName")
        </li>
        <li>
            @Html.ActionLink("Structure", "Index", "Structure")
        </li>
        <li>
            @Html.ActionLink("Structure Sequence", "Index", "StructureSeq")
        </li>
        <li>
            @Html.ActionLink("Lookup", "Index", "Lookup")
        </li>
        <li>
            @Html.ActionLink("Configurator Pricing", "Index", "ConfigPricing")
        </li>
        <li>
            @Html.ActionLink("Build Complex Lookups", "BuildComplexlookups")
        </li>
        <li>
            @Html.ActionLink("Build Config Options", "BuildConfigOptions")
        </li>
    </ul>
</div>

<div class="alert alert-info">
    <h2>Config Options</h2>
    <ul>
        <li>
            @Html.ActionLink("Configurator Option", "Index", "ConfigOptions")
        </li>

        <li>
            @Html.ActionLink("Part Override", "Index", "PartOverrides")
        </li>
    </ul>
</div>

<div class="alert alert-info">
    <h2>Complex</h2>
    <ul>
        <li>
            @Html.ActionLink("Complex Structures", "Index", "ComplexStructures")
        </li>
        <li>
            @Html.ActionLink("Complex Lookups", "Index", "ComplexLookups")
        </li>
    </ul>
</div>

<div class="alert alert-info">
    <h2>Special Customers</h2>
    <ul>
        <li>
            @Html.ActionLink("Special Customers", "Index", "SpecialCustomers")
        </li>
        <li>
            @Html.ActionLink("Special Configs", "Index", "SpecialConfigs")
        </li>
        <li>
            @Html.ActionLink("Special Data", "Index", "SpecialDatas")
        </li>
    </ul>
</div>