@{
    ViewBag.Title = "Configurator Index";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>
        @Html.ActionLink("Configurator Name", "Index", "ConfiguratorName")
    </li>
    <li>
        @Html.ActionLink("Structure", "Index", "Structure")
    </li>
    <li>
        @Html.ActionLink("Structure Sequence", "Index", "StructureSeq")
    </li>
    <li>
        @Html.ActionLink("Lookup", "Index", "Lookup")
    </li>
    <li>
        @Html.ActionLink("Configurator Pricing", "Index", "ConfigPricing")
    </li>
    <li>
        @Html.ActionLink("Build Complex Lookups", "BuildComplexlookups")
    </li>
</ul>

<h2>Config Options</h2>
<ul>
    <li>
        @Html.ActionLink("Configurator Option 1", "Index", "ConfigOption1")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 2", "Index", "ConfigOption2")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 3", "Index", "ConfigOption3")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 4", "Index", "ConfigOption4")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 5", "Index", "ConfigOption5")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 6", "Index", "ConfigOption6")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 7", "Index", "ConfigOption7")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 8", "Index", "ConfigOption8")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 9", "Index", "ConfigOption9")
    </li>

    <li>
        @Html.ActionLink("Configurator Option 10", "Index", "ConfigOption10")
    </li>
</ul>

<h2>Complex</h2>
<ul>
    <li>
        @Html.ActionLink("Complex Structures", "Index", "ComplexStructures")
    </li>
    <li>
        @Html.ActionLink("Complex Lookups", "Index", "ComplexLookups")
    </li>
</ul>