@model Time.Data.EntityModels.CustomManuals.ProblemJob

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProblemJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCheckedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCheckedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCheckedPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCheckedPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCheckedMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCheckedMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCleared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCleared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobClearedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobClearedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobClearedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobClearedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManuallyCleared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManuallyCleared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManuallyClearedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManuallyClearedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManuallyClearedNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManuallyClearedNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutomaticEntryReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutomaticEntryReason)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
