@*@model Time.Data.EntityModels.ITInventory.MaintenanceData*@
@model Time.IT.ViewModel.MaintenaceDataPlusDetailVM

@{
    Style.Require("jQueryUI_DatePicker").AtHead();
    Script.Require("jQueryUI_DatePicker").AtFoot();
    ViewBag.Title = "Create";
}

<h3>Create</h3>
<div class="alert alert-info">
    <p><span class="label label-warning">Warning:</span> When creating a new <i>IT Maintenance</i> record you must fill out the <i>IT Maintenance Detail</i> as well. Otherwise you won't
        be able to submit the form.</p>
    <p>Any additional <i>Detail</i> records can be added through the @Html.ActionLink("IT Maintenance Details", "Index", "MaintenanceDataDetails") page.</p>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container-fluid bg-info" style="border-radius: 5px;">
        <div class="row">
            <div class="col-md-6">
                <h4>IT Maintenance</h4>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcData.CompanyName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcData.CompanyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Required field" } })
                            @Html.ValidationMessageFor(model => model.MntcData.CompanyName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcData.BudgetItem, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcData.BudgetItem, new { htmlAttributes = new { @class = "form-control", @placeholder = "Required field" } })
                            @Html.ValidationMessageFor(model => model.MntcData.BudgetItem, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcData.Supplier, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcData.Supplier, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcData.Supplier, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcData.AccountNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcData.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcData.AccountNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcData.OriginalPurchDate, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcData.OriginalPurchDate, new { htmlAttributes = new { @class = "form-control showDatePicker" } })
                            @Html.ValidationMessageFor(model => model.MntcData.OriginalPurchDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcData.ComputerId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.MntcData.ComputerId, ViewBag.ComputerId as SelectList, "--  Optional  --", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcData.ComputerId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcData.LicenseId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.MntcData.LicenseId, ViewBag.LicenseId as SelectList, "--  Optional  --", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcData.LicenseId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>IT Maintenance Detail</h4>
                <div class="form-horizontal">
                    @*<div class="form-group">
                        @Html.Label("Budget Item", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("MaintenanceDataId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.MaintenanceDataId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.PO_CC, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcDataDetail.PO_CC, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.PO_CC, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcDataDetail.PurchaseDate, new { htmlAttributes = new { @class = "form-control showDatePicker", @placeholder = "Required field" } })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.PurchaseDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.ExpirationDate, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcDataDetail.ExpirationDate, new { htmlAttributes = new { @class = "form-control showDatePicker", @placeholder = "Required field" } })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.ExpirationDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.AccountNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcDataDetail.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.AccountNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.Duration, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @*@Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownListFor(model => model.MntcDataDetail.Duration, ViewBag.Duration as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.Duration, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.Cost, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcDataDetail.Cost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.Cost, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.Monthly, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcDataDetail.Monthly, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.Monthly, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.Explanation, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MntcDataDetail.Explanation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.Explanation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MntcDataDetail.AlternateInfo, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.MntcDataDetail.AlternateInfo, new { htmlAttributes = new { @class = "form-control"}, @rows = 5 })
                            @Html.ValidationMessageFor(model => model.MntcDataDetail.AlternateInfo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input style="margin-bottom:20px;" type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
@*<h3>Create</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Required field" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BudgetItem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.BudgetItem, new { htmlAttributes = new { @class = "form-control", @placeholder = "Required field" } })
                @Html.ValidationMessageFor(model => model.BudgetItem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Supplier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Supplier, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Supplier, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OriginalPurchDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.OriginalPurchDate, new { htmlAttributes = new { @class = "form-control showDatePicker" } })
                @Html.ValidationMessageFor(model => model.OriginalPurchDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComputerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.ComputerId, ViewBag.ComputerId as SelectList, "--  Optional  --", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ComputerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LicenseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.LicenseId, ViewBag.LicenseId as SelectList, "--  Optional  --", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LicenseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@using (Script.Foot())
{
    <script type="text/javascript">

        $(".showDatePicker").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true
        });
    </script>
}