@model Time.Legacy.EntityModels.Legacy.WarrantyEndUser

<tr>
    <td>
        @Model.EndUser
    </td>
    <td>
        @Model.Address
    </td>
    <td>
        @Model.Address2
    </td>
    <td>
        @Model.City
    </td>
    <td>
        @Model.State
    </td>
    <td>
        @Model.Zip
    </td>
    <td>
        @Model.InServiceDate
    </td>
    <td>
        @Model.ShipDate
    </td>
    <td>
        @Model.ExpirationDate
    </td>
    <td>
        @Model.Phone
    </td>
    <td>
        @Model.SerialNumber
    </td>
    <td>
        @Model.Id
    </td>
</tr>