@model Time.Legacy.EntityModels.Legacy.InvoiceLineItem

<tr>
    <td>
        @Model.InvoiceNumber
    </td>
    <td>
        @Model.LineNumber
    </td>
    <td>
        @Model.LineType
    </td>
    <td>
        @Model.PartNumber
    </td>
    <td>
        @Model.Description
    </td>
    <td>
        @Model.QtyOrdered
    </td>
    <td>
        @Model.QtyShipped
    </td>
    <td>
        @Model.QtyBackordered
    </td>
    <td>
        @Model.UnitPerMeasure
    </td>
    <td>
        @Model.PriceCD
    </td>
    <td>
        @Model.Taxable
    </td>
    <td>
        @Model.Commissionable
    </td>
    <td>
        @Model.DropShip
    </td>
    <td>
        @Model.VendorNumber
    </td>
    <td>
        @Model.Location
    </td>
    <td>
        @Model.DistributionCode
    </td>
    <td>
        @Model.Kitted
    </td>
    <td>
        @Model.ProdCode
    </td>
    <td>
        @Model.KitOrdered
    </td>
    <td>
        @Model.CommunityCode
    </td>
    <td>
        @Model.MiscCode
    </td>
    <td>
        @Model.ProductCode
    </td>
    <td>
        @Model.Warehouse
    </td>
    <td>
        @Model.PriceUnit
    </td>
    <td>
        @Model.PriceExtended
    </td>
    <td>
        @Model.CostUnit
    </td>
    <td>
        @Model.Discount
    </td>
    <td>
        @Model.QtyOriginalOrder
    </td>
    <td>
        @Model.CommissionRate
    </td>
    <td>
        @Model.CostExtened
    </td>
    <td>
        @Model.ClosedFromWo
    </td>
    <td>
        @Model.CompanyId
    </td>
    <td></td>
</tr>

