@model IEnumerable<Time.Data.EntityModels.Production.V_QuoteOrderInformation>

<br />
<br />
<br />

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ponum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linedesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entrydate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.changedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteReference)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Id1)
            </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ponum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linedesc)
            </td>
            <td>
                @Html.DisplayWithBreaksTruncated(item.Comment, 4)
                @*@Html.DisplayWithBreaks(Html.Truncate(item.Comment, 80))*@
                @*@Html.Truncate(item.Comment, 40)*@
                @*@Html.DisplayFor(modelItem => item.Comment)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entrydate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.changedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteReference)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Id1)
                </td>*@
        </tr>
    }
</table>