@using Time.Data.EntityModels.Configurator
@model Time.Configurator.Models.ComplexLinkMatrixViewModel

<h2>
    Complex Lookups -> Lookup Data Matrix
</h2>
@{int counter = 0;}
<table class="table table-striped table-bordered table-condensed table-hover">
    @if (Model != null)
    {
        <tr class="success">
            <td>&nbsp;</td>
            @foreach (var lookup in Model.Lookups)
            {
                <td>
                    @lookup.Id
                </td>
            }
        </tr>
        if (Model.ComplexLinks != null)
        {

            foreach (var item in Model.ComplexLinks)
            {
                counter++;
                if (counter % 20 == 0)
                {
                    <tr>
                        <td>&nbsp;</td>
                        @foreach (var lookup in Model.Lookups)
                        {
                            <td>
                                @lookup.Id
                            </td>
                        }
                    </tr>
                }
                <tr class="success">

                    @if (item.Count() > 0)
                    {
                        <td>
                            @item.FirstOrDefault().ComplexLookup.LookupData
                        </td>
                    }
                    @foreach (var linkitem in item)
                    {
                        <td>
                            @*@Html.DisplayFor(x => linkitem.Available)*@
                            <input type="checkbox" name="Matrix" checked="@linkitem.Available" value="@linkitem.ComplexDataId, @linkitem.LookupId" />
                        </td>
                    }
                </tr>

            }
        }
    }
</table>