@model Time.Data.EntityModels.Install.OptionGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div align="right">
    @Html.ActionLink("Back to Main Menu", "Index", "Home")
</div>

<div>
    <h4>Option Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
