@model IEnumerable<Time.Data.EntityModels.ITInventory.Ref_LicenseType>

@{
    ViewBag.Title = "License Type Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<hr />

<table class="table table-striped table-bordered table-condensed">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.LicenseType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.LicenseType, "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>