@model Time.Data.EntityModels.Configurator.Structure

@{
    ViewBag.Title = "Create New Structure";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Structure</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*********************************************************************Makes Create Enabled With Drop Down Menus***************************************************************************************@
        <div class="form-group">
            @Html.LabelFor(model => model.ConfigName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConfigName", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "-- Select --")
                @Html.ValidationMessageFor(model => model.ConfigName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfigData, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfigData)
                @Html.ValidationMessageFor(model => model.ConfigData, "", new { @class = "text-danger" })
            </div>
        </div>
        @*************************************************************************Makes you able to create by typing******************************************************************************************@
        @*<div class="form-group">
                @Html.LabelFor(model => model.ConfigName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfigName)
                    @Html.ValidationMessageFor(model => model.ConfigName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfigData, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfigData)
                    @Html.ValidationMessageFor(model => model.ConfigData)
                </div>
            </div>*@
        @*****************************************************************************************************************************************************************************************************@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
